.tabar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    color:black;
     background: white;
    z-index: 99999999;
}

.navStyle{
    display: flex;
    flex-direction: column;
    color: black;
}